body{
    background-color: rgb(249, 232, 201);
    margin: 0;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*Encabezado*/
.navbar{
    border: 7px solid rgb(29, 36, 202);
    padding: 0;
    margin: 0;
}

.navbar img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    transition: 0.5s;
}

.navbar img:hover{
    transform: scale(1.1);
}

.navbar-toggler{
    filter: invert();
}

.container-fluid{
    background-color: rgb(32, 22, 88);
    height: 100%;
}

.nav-item a{
    color: rgb(32, 22, 88) !important;
    
}

.navbar li {
    border: 5px solid rgb(29, 36, 202);
    border-radius: 20px;
    background-color: rgb(152, 171, 238);
    font-size: 20px;
    font-weight: 600;
    margin: 10px;

}

/**/

h1{
    font-family: "Sedan SC", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: rgb(29, 36, 202);
    text-shadow: 2px 3px rgb(249, 232, 201);
    font-size: 80px;
    width: 100%;
    height: 10%;
    background-image: url(/imagenes/estrellas.jpg);
}

.Introduccion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 20px 25% 0 25% ;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    background-color: rgb(32, 22, 88);
    color: rgb(152, 171, 238);
    border: 5px solid rgb(29, 36, 202);
    border-radius: 10px;
}

.Posta1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(32, 22, 88);
    color: rgb(152, 171, 238);
    margin: 30px 0 30px 0;
}

.Posta1 p{
    text-align: center;
    font-size: 350%;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.Posta1 img{
    height: 500px;
    width: 400px;
    border: 10px solid rgb(29, 36, 202);
    border-radius: 10px;
    margin: 5px 0 5px 30px;
}

.Posta1 a{
    text-decoration: none;
    background-color: rgb(152, 171, 238);
    border: 3px solid rgb(29, 36, 202);
    border-radius: 20px;
    color: rgb(32, 22, 88);
    padding: 10px;
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s;

}

.Posta1 a:hover{
    transform: scale(1.5);
}

.Posta2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    width: 100%;
    background-color: rgb(32, 22, 88);
    color: rgb(152, 171, 238);
    margin: 30px 0 30px 0;
}

.Posta2 p{
    text-align: center;
    font-size: 350%;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.Posta2 img{
    height: 500px;
    width: 400px;
    border: 10px solid rgb(29, 36, 202);
    border-radius: 10px;
    margin: 5px 30px 5px 0;
}

.Posta2 a{
    text-decoration: none;
    background-color: rgb(152, 171, 238);
    border: 3px solid rgb(29, 36, 202);
    border-radius: 20px;
    color: rgb(32, 22, 88);
    padding: 10px;
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.Posta2 a:hover{
    transform: scale(1.5);
}

/*Footer*/
.footer{
    width: 100%;
    background-color: rgb(32, 22, 88);
    border: 7px solid rgb(29, 36, 202);
    color: rgb(152, 171, 238);
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}